body {
    background-color: black; 
    color:white;
    text-align: center;
    
}

.cell {
    width:40px; 
    height:40px;
    text-align: center
}

.cell img {
    width:25px;
     height:auto
    }

.floor {
    background-color: gray
}

.wall {
    background-color: brown
}


.modal {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:none;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: red;
    top: 200px;
    left: 150px;
  }

